<!--<img class="imagestyle" src="assets/lenderdashboard.png">-->    

<div fxLayout="row" class="maindiv">
   <!-- <div class="centerdiv" fxFlex="78" fxLayout="column">
        <div class="headerrow" fxLayout="row" fxFlex="12">
            <img src="assets/lenderhand.png">
            <div fxLayout="column" class="headerrow">
                <div class="headtitle">Congratulation!</div>
                <div class="headsubtitle">Finequal certifies your efforts for equality!</div>
            </div>
        </div>
        <div class="contentdiv" fxFlex="50" fxLayout="column">
            <div fxLayout="row">
                <div class="content1div" fxFlex="22">
                    <div class="left marginbottom" fxLayout="row">
                        <img src="assets/left2icon.svg">
                        <div fxLayout="column" class="leftcontent">
                            <div class="lefttitle">Ethnic loan proportion</div>
                            <div class="leftvalue">+2.4%</div>
                        </div>
                    </div>
                    <div class="left marginbottom" fxLayout="row">
                        <img src="assets/left1Icon.svg">
                        <div fxLayout="column" class="leftcontent">
                            <div class="lefttitle">Female loan proportion</div>
                            <div class="leftvalue">+3.2%</div>
                        </div>
                    </div>
                    <div class="left" fxLayout="row">
                        <img src="assets/left3icon.svg">
                        <div fxLayout="column" class="leftcontent">
                            <div class="lefttitle">Increase Loan Business</div>
                            <div class="leftvalue">+$1.53M</div>
                        </div>
                    </div>
                </div>
                <div class="content2div" fxFlex="74">
                    <div fxLayout="row" class="center1">
                        <img src="assets/centerlogo.svg">
                        <div fxLayout="column" class="header">
                            <div class="centertitle">Average bias over time</div>
                            <div class="centersubtitle">this month</div>
                        </div>
                    </div>
                    <img class="centerchart" src="assets/Chartbig.png">
                </div>                
            </div>
            <div class="content3div" fxLayout="row">                    
                <img class="bottom1" src="assets/bottomtag.svg">
                <div fxLayout="column">
                    <img class="bottom2" src="assets/Texbig.png">
                    <img class="bottom3" src="assets/Buttonbig.png">
                </div>
            </div>
        </div>
    </div>
    <div class="firstdiv" fxFlex="20">
        <div class="title">Loan Officer Top 5</div>
        <div class="avatarcontainer" fxLayout="row">
            <img src="assets/avatar1.png">
            <div class="avatardata">
                <div class="avatarname">Gage Marquardt</div>
                <div class="avatartext">Bias free</div>
            </div>
        </div>
        <div class="avatarcontainer" fxLayout="row">
            <img src="assets/avatar2.png">
            <div class="avatardata">
                <div class="avatarname">Tamara Hayes</div>
                <div class="avatartext">Bias score : 96/100</div>
            </div>
        </div>
        <div class="avatarcontainer" fxLayout="row">
            <img src="assets/avatar3.png">
            <div class="avatardata">
                <div class="avatarname">Emily Wong</div>
                <div class="avatartext">Bias score : 94/100</div>
            </div>
        </div>
        <div class="avatarcontainer" fxLayout="row">
            <img src="assets/avatar4.png">
            <div class="avatardata">
                <div class="avatarname">Walter Feest</div>
                <div class="avatartext">Bias score : 94/100</div>
            </div>
        </div>
        <div class="avatarcontainer" fxLayout="row">
            <img src="assets/avatar5.png">
            <div class="avatardata">
                <div class="avatarname">Lincoln Lockman</div>
                <div class="avatartext">Bias score : 92/100</div>
            </div>
        </div>
        <img src="assets/thumb.png" class="thumbdiv">
    </div>

-->
<img style="width:1435px;" src="assets/dashboard.png">
</div>