.imagestyle{
    position: relative;
    top: -117px;
    left: -184px;
    width: 1600px;
    padding: 38px;
    background: url("../../assets/BG.png")no-repeat center center fixed;
    background-size: cover;
}