

<mat-toolbar>    
    <mat-toolbar-row>
        <a [routerLink]="'creditReport'" [routerLinkActive]="['active']"><mat-icon aria-hidden="false" aria-label="Report">folder</mat-icon><span>Report</span></a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a [routerLink]="'dashboard1'" [routerLinkActive]="['active']"><mat-icon aria-hidden="false" aria-label="Dashboard">apps</mat-icon><span>Apps</span></a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a [routerLink]="'cred'" [routerLinkActive]="['active']"><mat-icon aria-hidden="false" aria-label="Settings">settings</mat-icon><span>Settings</span></a>
    </mat-toolbar-row>
    <mat-toolbar-row>
            <a [routerLink]="'creditReport1'" [routerLinkActive]="['active']"><mat-icon aria-hidden="false" aria-label="Support">help</mat-icon><span>Support</span></a>
        </mat-toolbar-row>
</mat-toolbar>  