
.mainContent{
    padding:20px;
    .headerRow{
        color:#486EC2;
        padding:20px 0px 35px;
        font-weight: Bold;
        font-size: 23px;
        letter-spacing: 0px;        
        opacity:.9;
        
        img{
            vertical-align: middle;
        }
        div{
            margin-left:12px;
            padding-top:7px;
        }
    }
}